.Library {
  /* base div for all library components */
  /*text-align: center;*/
  background-color: #282c34;
  max-width: 1200px;
  width: 90vw;
  /* rounded corners */
  border-radius: 10px;
  min-height: 500px;
  padding: 20px;

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes spin-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
