.filter-button {
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    padding: 0 15px;

}

.libMenuCategoryBar {
    margin-left: 20px;

}

.category-button {
    height: 30px;
}

.libMenuSubcategoryBar {
    margin-left: 40px;
}

.subcategory-button {
    height: 22px;
    border-radius: 11px;
    font-size: 15px;
    padding: 0 8px;
}

.libMenuTitleBar {
    width: 100%;
    height: 50px;
    /* align children to center */
    display: flex;
    justify-content: center;
    /* center children */
    flex-direction: row;
    /* make children go left to right */
    margin-bottom: 10px;


}

.libMenuTitle {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    float: left;
}

.libMenuSearch {
    /* float right in flexbox */
    margin-left: auto;
    align-self: flex-end;
    font-size: 22px;

    border: 1px solid var(--text-color);
    border-radius: 20px;
    width: 300px;
    height: 40px;
    padding: 0px 15px;

    color: var(--text-color);

}

.libEntry {
    /* base div for library entry */
    /* flex from left to right */
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;


    width: 100%;
    height: 190px;

    /* transition: 0.2s; */
    transition: height 0.2s;
}

.libBottomBorder {
    border-bottom: 1px solid var(--text-color-transparent);
}

.libBottomBorder:last-child {
    border-bottom: none;
}


.libEntry.extended {
    /* flex from top to bottom */
    min-height: 200px;
    height: auto;
}

.libMenuFilterSortContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.libMenuSortContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.libMenuSorter {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--text-color);
    border-width: 1.5px;
    color: var(--text-color);
    margin-left: 10px;
    height: 40px;
    padding: 0 10px;
}

.libMenuSorter option {
    background-color: var(--bg-color-darker);
}

.libMenuSortDirection {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--text-color);
    border-width: 1.5px;
    color: var(--text-color);
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 0 10px;
    user-select: none;
    font-size: 20px;
}


.libEntryMain {
    margin: 14px;
}

.libEntryRight {
    margin: 14px;
}

.libEntryStar {
    color: gold;
}

.libEntryCover {
    margin: 14px;

    border-radius: 10px;
}

.libEntryMain {
    /* fill empty space of parent */
    flex-grow: 1;
}

.libEntryRight {
    margin: 0;
    /* align elements on right side */
    text-align: right;
    align-items: right;
    /* align image right */

}

.libEntryTitle {
    font-size: x-large;
}

.libEntryDetails {
    color: var(--text-color-transparent);
    font-size: medium;
    overflow: hidden;

}

.libSeriesEntry:hover .libEntryExpandText {
    display: flex;
    text-shadow: 0 0 20px var(--text-color);
}

.libEntryExpandText {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.libEntryExpandText h3 {
    width: auto;
}

.libEntryDescription {
    max-width: 500px;
    visibility: hidden;
}

.libEntry.extended .libEntryDescription {
    visibility: visible;
}

.libSeriesEntry {
    cursor: pointer;
    transition: 0.2s;
}

.libSeriesEntry:hover {
    /* glow effect */
    box-shadow: 2px 2px 5px 2px var(--bg-color-darker);
    border-style: none;
}


.libEntryCategories {
    display: inline;
}

.libEntryCategory {
    display: inline;
    margin-right: 5px;
}

.libEntryLink {
    color: var(--text-color-transparent);
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}

.libEntryLink:hover {
    color: var(--text-color);
    /* glow effect */
    text-shadow: 0 0 10px var(--text-color);
    text-decoration: underline;
}


.libEntryButtons {
    /* flex from top to bottom */
    display: flex;
    flex-direction: row;
    /* align elements on right side */
    text-align: right;
    justify-content: right;
    /* align image right */
    margin-top: 15px;
}

.libEntryButton {
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    margin: 10px;
    font-size: x-large;
    height: 40px;
    padding: 0 20px;
    border: 1.5px solid var(--text-color);
}

.libEntryButton:hover {
    background-color: transparent;
    color: var(--text-color);
}

.libSeriesEntries {
    padding-left: 80px;
    transition: max-height 1s;
    transition: height 1s;
    overflow: hidden;
}

.libEntryPlay {
    margin-right: 0;
}

.libFavButtonImage {
    /* color svg gold */
    fill: #FFD700;

}

.rightPanelBuyButton {
    background-color: rgb(189, 142, 15);
    color: rgb(24, 23, 23);
    border: 0px;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 5px 0px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    font-size: 20px;
    width: 200px;
}

.owned {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);

}

.rightPanelBuyButton:hover {
    background-color: rgb(255, 253, 145);
}

.owned:hover {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    cursor: default;
}



.buyDialogBuy {
    margin: 20px;
    width: 100px;
}

.buyDialogCancel {
    margin: 20px;
    width: 100px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.buyDialogCancel:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.rightPanel {
    /* base div for library entry */
    /* flex from left to right */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    /* transition: 0.2s; */
    transition: height 0.2s;
    font-size: 16px;
}

.rightPanelTop {
    /* flex from top to bottom */
    display: flex;
    flex-direction: column;
    /* align elements on right side */
    text-align: right;
    justify-content: right;
    /* align image right */
    margin-top: 15px;
}

.rightPanelBottom {
    /* flex from top to bottom */
    display: flex;
    flex-direction: column;
    /* align elements on right side */
    text-align: right;
    justify-content: right;
    /* align image right */
    margin-top: 15px;
}

.progressOuter {
    width: 200px;
    height: 4px;
    background-color: var(--bg-color-darker);
    border-radius: 2px;
    margin-top: 10px;
}

.progressInner {
    height: 100%;
    background-color: var(--text-color);
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: var(--bg-color);
    font-size: 20px;
    transition: 0.2s;
}


.rightPanelPlayButton {
    background-color: var(--text-color);
    color: var(--bg-color);
    margin: 0px;
    transition: 0.2s;
    width: 40px;
    height: 40px;
    margin: 0 0px;
    cursor: pointer;
    transition: 0.2s;
    padding: 12px;
    border-radius: 50%;
    border: 1.5px solid var(--text-color);
}


.rightPanelPlayButton:hover {
    background-color: transparent;
    color: var(--text-color);
    
}

.rightPanelPlayButton:hover .libPlayerMainButtonImg {
    color: var(--text-color);
}


.buyDialog {
    
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.buyDialog .buyDialogInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: var(--bg-color-darker);
    border-radius: 10px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 22px;
}

.buyDialogButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buyDialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.libPlayerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: var(--bg-color-darker);
    border-top: 1px solid var(--text-color-darker);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.libPlayer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;

}

.libPlayerControls {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.libPlayerMainButton {
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--text-color);
    padding: 12px;
    border-radius: 50%;
}

.libPlayerMainButton:hover {
    background-color: transparent;
    color: var(--text-color);
}

.libPlayerMainButtonImg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.2s;
    /* change color of svg to background color */
    color: var(--bg-color);
    
}

.libPlayerMainButton:hover .libPlayerMainButtonImg {
    color: var(--text-color);
}

.libPlayerTimeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: medium;
}


.libPlayerProgressOuter {
    width: 500px;
    height: 4px;
    background-color: var(--bg-color-lighter);
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

    cursor: pointer;
}

.libPlayerProgressInner {
    height: 100%;
    background-color: var(--text-color);
    border-radius: 2px;
    text-align: center;
    line-height: 20px;
    color: var(--bg-color);
    font-size: 20px;
    transition: 0.2s;
}

.libPlayerInfo {
    justify-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.libPlayerCover {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 10px;
}


.editItemDialog {
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 500px;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    border-radius: 20px;
    border: 1px solid var(--text-color);

}

.editItemDialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.editItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 22px;
}

.editItemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    justify-content: center;
}

.editItemRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.editItemRowName {
    width: 100px
}

.editItemRowValue {
    width: 250px
}

.editItemRowValue * {
    color: var(--text-color);
    border-radius: 5px;
    border: 1px solid var(--text-color);
    padding: 5px;
}

.editItemButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.editButtonMarginR {
    margin-right: 20px;
}