
body {
    /*
    --bg-color: #0d0d11;
    --bg-color-darker: #1a1a1e;
    --bg-color-lighter: #26262a;
    */
    /* midnight blue theme */
    --bg-color: #303046;
    --bg-color-darker: #202035;
    --bg-color-lighter: #46465a;
    --text-color: #f0f0ff;
    --text-color-darker: #d5d5e1;
    --text-color-lighter: #9090c0;

    --text-color-transparent: rgba(220, 220, 255, 0.5);

    --text-color-contrast: rgb(236, 151, 24);

    /*Login+Register Colors*/
    --bg-color-login: #4d4d63;
    --box-shadow-login: #9090a5;
    --text-color-login: #f0f0ff;
    --button-color-login:  #363650;

}
body.light-theme {
    --bg-color: #f5f5f1;
    --bg-color-darker: #e5e5e1;
    --bg-color-lighter: #c5c5c1;
    --text-color: #0d0d11;
    --text-color-darker: #1a1a1e;
    --text-color-lighter: #26262a;

    --text-color-transparent: rgba(40, 40, 60, 0.5);

    /*Login+Register Colors*/
    --bg-color-login: #d8d8da;
    --box-shadow-login: #b1b1b6;
    --text-color-login: #151516;
    --button-color-login:  #808081;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    /* center contents */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* make text look better */
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;

    width: 100v;
}

.root {
  /* fill screen */
  width: 100vw;
  height: 100vh;
}

.AudioUI {
    /* base div for all library components */
    /* contains other sub pages */
    /*text-align: center;*/
    background-color: var(--bg-color);
    max-width: 1200px;
    width: 90vw;
    /* rounded corners */
    border-radius: 30px;
    min-height: 500px;
    padding: 30px;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

  
  }

.audioRoutes {
  display: block;
}

  @keyframes spin-anim {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .al-button {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 15px;
    padding: 0px 10px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;

  }

  .al-button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  .button-selected {
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  

  .disabled {
    /* remove element */
    display: none;
  }

  .noapi {
    border: 5px solid red;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;

  }

  .noapi h1 {
    margin: 0;
    padding: 0;
    font-size: xx-large;
  }

  .noapi p {
    margin: 0;
    padding: 0;
    font-size: large;
  }