
body {
    /*
    --bg-color: #0d0d11;
    --bg-color-darker: #1a1a1e;
    --bg-color-lighter: #26262a;
    */
    /* midnight blue theme */
    --bg-color: #303046;
    --bg-color-darker: #202035;
    --bg-color-lighter: #46465a;
    --text-color: #f0f0ff;
    --text-color-darker: #d5d5e1;
    --text-color-lighter: #9090c0;

    --text-color-transparent: rgba(220, 220, 255, 0.5);

    --text-color-contrast: rgb(236, 151, 24);


}
body.light-theme {
    --bg-color: #f5f5f1;
    --bg-color-darker: #e5e5e1;
    --bg-color-lighter: #c5c5c1;
    --text-color: #0d0d11;
    --text-color-darker: #1a1a1e;
    --text-color-lighter: #26262a;

    --text-color-transparent: rgba(40, 40, 60, 0.5);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    /* center contents */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* make text look better */
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;

    width: 100v;
}

.root {
  /* fill screen */
  width: 100vw;
  height: 100vh;
}

.navbar {
    /* base div for navbar */
    /*text-align: center;*/
    background-color: var(--bg-color);
    max-width: 100vw;
    width: 100vw;

    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
}

.nav-spacer {
    /* spacer between navbar and content */
    height: 60px;
    background-color: var(--bg-color);
}

.navbar-item {
    /* navbar item (Link) */
    color: var(--text-color);
    text-decoration: none;
    padding: 0 20px;
    height: 40px;
    min-width: 60px;
    display: flex;
    align-items: center;
    transition: 0.1s;
    cursor: pointer;
    border-radius: 20px;
    margin: 0 20px;

}

.navbar-item:hover {
    /* glow effect */
    background-color: var(--bg-color-darker);
}

.Library {
    /* base div for all library components */
    /*text-align: center;*/
    background-color: var(--bg-color);
    max-width: 1200px;
    width: 90vw;
    /* rounded corners */
    border-radius: 30px;
    min-height: 500px;
    padding: 30px;
    top: 0;
  
  }

  
  
  
  @keyframes spin-anim {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .al-button {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 15px;
    padding: 0px 10px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;

  }

  .al-button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  .button-selected {
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  .filter-button {
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    padding: 0 15px;

  }

  .libMenuCategoryBar {
    margin-left: 20px;

  }

  .category-button {
    height: 30px;
  }

  .libMenuSubcategoryBar {
    margin-left: 40px;
  }

  .subcategory-button {
    height: 22px;
    border-radius: 11px;
    font-size: 15px;
    padding: 0 8px;
  }

  .libMenuTitleBar {
    width: 100%;
    height: 50px;
    /* align children to center */
    display: flex;
    justify-content: center;
    /* center children */
    flex-direction: row;
    /* make children go left to right */
    margin-bottom: 10px;


  }

  .libMenuTitle {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    float: left;
  }

  .libMenuSearch {
    /* float right in flexbox */
    margin-left: auto;
    align-self: flex-end;
    font-size: 22px;

    border: 1px solid var(--text-color);
    border-radius: 20px;
    width: 300px;
    height: 40px;
    padding: 0px 15px;

    color: var(--text-color);

  }

  .libEntry {
    /* base div for library entry */
    /* flex from left to right */
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;

    
    width: 100%;
    height: 190px;

    /* transition: 0.2s; */
    transition: height 0.2s;
  }

  .libBottomBorder {
    border-bottom: 1px solid var(--text-color-transparent);
  }

  .libBottomBorder:last-child {
    border-bottom: none;
  }


  .libEntry.extended {
    /* flex from top to bottom */
    min-height: 200px;
    height: auto;
  }

  .libMenuFilterSortContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .libMenuSortContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }

  .libMenuSorter {
    border-radius: 20px;
    border-style:solid;
    border-color: var(--text-color);
    border-width: 1.5px;
    color: var(--text-color);
    margin-left: 10px;
    height: 40px;
    padding: 0 10px;
  }

  .libMenuSorter option {
    background-color: var(--bg-color-darker);
  }

  .libMenuSortDirection {
    border-radius: 20px;
    border-style:solid;
    border-color: var(--text-color);
    border-width: 1.5px;
    color: var(--text-color);
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 0 10px;
    user-select: none;
    font-size: 20px;
  }


  .libEntryMain {
    margin: 14px;
  }

  .libEntryRight {
    margin: 14px;
  }

  .libEntryStar {
    color: gold;
  }

  .libEntryCover {
    margin: 14px;

    border-radius: 10px;
  }

  .libEntryMain {
    /* fill empty space of parent */
    flex-grow: 1;
  }

  .libEntryRight {
    /* align elements on right side */
    text-align: right;
    align-items: right;
    /* align image right */

  }

  .libEntryTitle {
    font-size: x-large;
  }

  .libEntryDetails {
    color: var(--text-color-transparent);
    font-size: medium;
    overflow: hidden;

  }

  .libSeriesEntry:hover .libEntryExpandText {
    display: flex;
    text-shadow: 0 0 20px var(--text-color);
  }

  .libEntryExpandText {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .libEntryExpandText h3 {
    width: auto;
  }

  .libEntryDescription {
    max-width: 500px;
    visibility: hidden;
  }

  .libEntry.extended .libEntryDescription {
    visibility: visible;
  }

  .libSeriesEntry {
    cursor: pointer;
    transition: 0.2s;
  }

  .libSeriesEntry:hover {
    /* glow effect */
    box-shadow: 2px 2px 5px 2px var(--bg-color-darker);
    border-style: none;
  }


  .libEntryCategories {
    display: inline;
  }

  .libEntryCategory {
    display: inline;
    margin-right: 5px;
  }

  .libEntryLink {
    color: var(--text-color-transparent);
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
  }

  .libEntryLink:hover {
    color: var(--text-color);
    /* glow effect */
    text-shadow: 0 0 10px var(--text-color);
    text-decoration: underline;
  }


  .libEntryButtons {
    /* flex from top to bottom */
    display: flex;
    flex-direction: row;
    /* align elements on right side */
    text-align: right;
    justify-content: right;
    /* align image right */
    margin-top: 15px;
  }

  .libEntryButton {
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    margin: 10px;
    font-size: x-large;
    height: 40px;
    padding: 0 20px;
    border: 1.5px solid var(--text-color);
  }

  .libEntryButton:hover {
    background-color: transparent;
    color: var(--text-color);
  }

  .libSeriesEntries {
    padding-left:80px;
    transition: max-height 1s;
    transition: height 1s;
    overflow: hidden;
  }

  .libEntryPlay {
    margin-right: 0;
  }

  .libFavButtonImage {
    /* color svg gold */
    fill: #FFD700;

  }

  .disabled {
    /* remove element */
    display: none;
  }